:root {
    --darkblue: #1d3e6e;
    --darkblack: black;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


aside {
    /* height: 100%;
    width: 15%;
    display: inline;
    padding-right: 7%;
    padding-left: 5%;   */
    align-self:center;
    height: 100%;
    width: 15%;
    display: inline;
    padding-right: 6%;
    padding-left: 5%;
    font-size: 2rem;
    border-right: 0.5rem #13201d solid;
}


.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--darkblack);
    color: #ffffff;
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.header nav {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    color: white;
}

.banner {
    height: 10vh;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/david-von-diemar-GraEtZd6VVk-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.about-me {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
}

.about-me p {
    font-size: 30px;
    text-indent: 50px;
    line-height: 1.8;
}
.projects {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
}

.column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}


.box {
    margin-bottom: 0.5em;
    width: 100%;
    color: white;
    background-image: url(https://images.unsplash.com/photo-1640055787574-d41d641ed3ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80);
    padding-top: 2em;
    padding-bottom: 1em;
    border: 2px solid black;
    display: inline-block;
}

.box-title {
    font-size: 20px;
    padding: 1em;
    color: black;
    background-color: white;
    width: 50%;
}

footer {
    background-color: #333333;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-me-section {
    text-align: center;
}

.contact-me-section ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.contact-me-section li {
    display: inline;
}

.contact-me-section a {
    color: #d9d9d9;
    text-decoration: none;
    font-size: 13px;
}

.copyright {
    text-align: center;
}

.copyright p {
    margin: 0;
    color: #b3b3b3;
    font-size: 11px;
}

@media screen and (min-width: 768px;) {
    .column {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .box {
        width: 50%;
        margin-right: 0.5em;
    } 
}

@media screen and (min-width: 992px;) {
    .box {
        width: 100%;
    } 

    .column {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}